{% extends "index.html" %}

{% block content %}
<h1 class="logo cursive lo" style="margin-top: 5%;">
    Team DeepWeek
</h1>
<br>


<div class="content">

    <div class="row">

        <form role="form" action="" method="post" style="color: white;">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12" style="text-align: center">
                    <h3><strong>Cofirmação da Inscrição</strong></h3>
                </div>
                <br>
            </div>
            <div class="row" >
              <div class="col-sm-2 col-xs-1"></div>
              <div class="col-sm-8 col-xs-10" id="cont">
                  kkk

              </div>
              <div class="col-sm-2"></div>
            </div>
        </form>
        <br>
         <br>
         <br>
    </div>
</div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}